<br>
<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="collection">
                <div class="collection-item"><h4>Quick nav</h4></div>
                <a href="profile.php" class="collection-item green-text">
                    Profile
                    <span class="secondary-content">
                        <i class="material-icons green-text">send</i>
                    </span>
                </a>
                <a href="basket.php" class="collection-item green-text">
                    Basket
                    <span class="secondary-content">
                        <i class="material-icons green-text">send</i>
                    </span>
                </a>
                <a href="orderListe.php" class="collection-item green-text">
                    Orders
                    <span class="secondary-content">
                        <i class="material-icons green-text">send</i>
                    </span>
                </a>
            </div>
        </div>

        <div class="col s12 m8">
            <h3 class="green-text darken-4">Order Confirmation</h3>
            <hr>
            <div class="row">
                <div class="center">
                    <i class="large material-icons">done</i><br>
                    <h4>Thank you for your order.</h4>
                </div>
            </div>
        </div>
    </div>
</div>